.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;

  &__logo {
    font-size: 2rem;
    font-weight: bolder;
    padding-left: 10px;
  }

  &__link {
    padding-right: 5px;
  }
  &__link .active {
    color: rgb(109, 205, 238);
  }
  @media only screen and (max-width: 480px) {
    &__nav {
      position: relative;
    }

    &__hamburger {
      padding-right: 10px;
    }

    &__links {
      width: 100vw;
      height: 100px;
      padding-left: 10px;
      position: fixed;
      top: 100px;
      left: -500px;
      transition: 1.5s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      flex-wrap: wrap;
      background-color: white;
      list-style: none;
      margin: 0;
      font-size: larger;
      padding-right: 10px;
      border-top: solid 3px grey;
      opacity: 0.9;

      &--active {
        width: 100vw;
        height: 100px;
        padding-left: 10px;
        position: fixed;
        left: 0px;
        top: 100px;
        transition: 1.5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
        background-color: white;
        list-style: none;
        margin: 0;
        font-size: larger;
        padding-right: 10px;
        border-top: solid 3px grey;
        opacity: 0.9;
      }
    }
  }

  @media only screen and (min-width: 481px) and (max-width: 780px) {
    &__hamburger {
      display: none;
    }

    &__links {
      display: flex;
      list-style: none;
      margin: 0;
      font-size: larger;
      padding-right: 10px;
    }
  }

  @media only screen and (min-width: 781px) {
    &__hamburger {
      display: none;
    }

    &__links {
      display: flex;
      list-style: none;
      margin: 0;
      font-size: larger;
      padding-right: 10px;
    }
  }
}
